/* BASIC STYLES */
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
  }
  
  /* NAV BAR */
  #nav_bar {
    float: right;
  }
  
  #nav_bar li {
    display: inline-block;
    padding: 8px;
    font-size: small;
  }
  
  .nav-links {
    color: rgb(32, 31, 31);
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  li.nav-links a:hover {
    text-decoration: underline;
  }
  
  
  /* GOOGLE AREA */
  .google img {
    width: 270px;
    text-align: center;
    display: block;
    margin: 0 auto;
    clear: both;
    padding-top: 112px;
    padding-bottom: 25px;
  }
  

  /* form search */
  .form {
    text-align: center;
  }
  
  #form-search {
    width: 540px;   
    line-height: 42px;
    font-size: medium;
    border-radius: 25px;
    border: 0.5px solid;
    border-color: rgb(214, 214, 214);
    padding: 0 20px;
  }

  .form button {
    background-color: #ecececaa;
    padding: 8px;
    margin-left: 3px;
    margin-top: 28px;
  }

  .search-buttons .a {
    text-decoration: none;
    margin-right: 15px;
    color: black;
    padding: 7px 12px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0);
    font-size:.9rem;
    }
    
    .search-buttons .a:hover {
      border:0.4px solid #cccccc;
      border-bottom: 2px solid #cccccc;
    }