/* BASIC STYLES */
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
  }
  
  /* NAV BAR */
  #nav_bar {
    float: right;
  }
  
  #nav_bar li {
    display: inline-block;
    padding: 8px;
    margin-right: 20px;
  }
  
  .nav-links {
    color: #404040;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  li.nav-links a:hover {
    text-decoration: underline;
  }
  
  
  /* GOOGLE AREA */
  .google #google_logo {
    text-align: center;
    display: block;
    margin: 0 auto;
    clear: both;
    padding-top: 112px;
    padding-bottom: 25px;
  }
  
  .form {
    text-align: center;
  }
  
  #form-search { 
    width: 535px;
    line-height: 38px;
    font-size: medium;
  }
  
  .form #form-search {
    padding: 0 8px;
  }